<h3>
  <i class="fas fa-book-reader"></i>
  StoryBook
</h3>
<div class="section">
  <p class="lead">StoryBook is an app where you can write and share your thoughts with your friends!</p>
</div>
<div class="divider"></div>
<div class="section">
  <a href="/auth/google" class="btn teal darken-2">
    <i class="fab fa-google left"></i>
    Login With Google
  </a>
</div>