p {
	margin: 10px 0 !important;
}

.login-container {
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 400px;
	text-align: center;
}

.card-login {
	width: 100%;
}

.text-bold {
	font-weight: bold;
}

.new-story {
	display: inline;
}
.new-story-phone {
	display: none;
}

@media screen and (max-width: 480px) {
	.new-story {
		display: none;
	}
	.new-story-phone {
		display: inline;
	}
	.login-container {
		width: 95%;
	}
}
