p {
	margin: 10px 0 !important;
}

.login-container {
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 400px;
	text-align: center;
}

.card-login {
	width: 100%;
}

.text-bold {
	font-weight: bold;
}

.new-story {
	display: inline;
}
.new-story-phone {
	display: none;
}

@media screen and (max-width: 480px) {
	.new-story {
		display: none;
	}
	.new-story-phone {
		display: inline;
	}
	.login-container {
		width: 95%;
	}
}
.btn-group {
	position: relative;
	display: -ms-inline-flexbox;
	display: inline-flex;
	vertical-align: middle;
}

.btn-group > .btn:first-child:not(:last-child) {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.btn-group > .btn:not(:first-child):not(:last-child) {
	border-radius: 0;
}

.btn-group > .btn:last-child:not(:first-child),
.btn-group > .dropdown-toggle:not(:first-child) {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

.btn-group > .btn-inactive {
	background-color: #607d8b;
}

.btn-group > .btn {
	-webkit-box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0),
		0 0px 0px 0px rgba(0, 0, 0, 0), 0 0px 0px 0 rgba(0, 0, 0, 0);
	box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0), 0 0px 0px 0px rgba(0, 0, 0, 0),
		0 0px 0px 0 rgba(0, 0, 0, 0);
}

.btn-group > .btn-inactive:hover {
	background-color: #728f9d;
}

.btn-group > .btn:hover {
	-webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
		0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
		0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.fa-small {
	font-size: 16px !important;
}

.btn-float {
	float: left;
	margin-right: 10px;
}
